<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/assets/img/logo-32x32.png" sizes="32x32"/>
    <link rel="icon" href="/assets/img/logo-192x192.png" sizes="192x192"/>

    <title>Portfolio | Andrew Solomon</title>

    <link href="/assets/css/plugins.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <%- include('./googletag.ejs') %>

</head>

<body class="v-dark bg-dots dsn-ajax dsn-cursor-effect ">


    <%- include('./components/preloader.ejs') %>


<main id="main_root" class="main-root">

    <%- include('./components/menu.ejs') %>


    <!-- ========== Slider Parallax ========== -->
    <header class="v-dark-head dsn-slider-width-circle dsn-header-animation">
        <div class="main-slider v-dark-head-mobile has-horizontal  active-nav-slider dsn-webgl has-paginate"
             data-dsn-webgl='{"displacement" : "/assets/img/displacement/8.jpg"}'
             data-dsn-option='{"direction":"horizontal","allowTouchMove":true,"watchSlidesProgress":true,"grabCursor":true,"mousewheel":false}'>


            <div class="content-slider slide-inner h-100 over-hidden">
                <div class="bg-container p-absolute  dsn-hero-parallax-img  w-100 h-100 z-index-1 dsn-hero-parallax-img">
                    <div class="swiper-container h-100">
                        <div class="swiper-wrapper">
                            <div class="slide-item swiper-slide over-hidden">
                                <div class="image-bg cover-bg w-100 h-100 before-z-index" data-overlay="4">
                                    <img class="cover-bg-img dsn-swiper-parallax-transform"
                                         src="/assets/img/portfolio/project6/1.jpg" alt="" data-dsn-position="50% 50%"/>
                                </div>
                                <div class="slide-content p-absolute">
                                    <div class="p-relative head-meta swiper-animate-head  d-flex justify-content-center mb-20">
                                        <div class="circle-before metas mb-10">
                                            <span>Due diligence app</span>
                                        </div>
                                    </div>
                                    <h2 class="title has-box-mod p-relative">
                                        <a href="/projects/screeningpartners" data-dsn-split="chars" class="effect-ajax"
                                           data-dsn-ajax="slider">
                                            SCREENING PARTNERS
                                        </a>
                                    </h2>

                                </div>
                            </div>
                            <div class="slide-item swiper-slide over-hidden">
                                <div class="image-bg cover-bg w-100 h-100 before-z-index" data-overlay="3">
                                    <img class="cover-bg-img dsn-swiper-parallax-transform"
                                         src="/assets/img/portfolio/project5/1.jpg" alt="" data-dsn-position="50% 50%"/>
                                </div>
                                <div class="slide-content p-absolute">
                                    <div class="p-relative head-meta swiper-animate-head  d-flex justify-content-center mb-20">
                                        <div class="circle-before metas mb-10">
                                            <span>Ammunition online shop</span>
                                        </div>
                                    </div>
                                    <h2 class="title has-box-mod p-relative">
                                        <a href="/projects/uarmor" data-dsn-split="chars" class="effect-ajax"
                                           data-dsn-ajax="slider">
                                            UARMOR
                                        </a>
                                    </h2>

                                </div>
                            </div>
                            <div class="slide-item swiper-slide over-hidden">
                                <div class="image-bg cover-bg w-100 h-100 before-z-index" data-overlay="2">
                                    <img class="cover-bg-img dsn-swiper-parallax-transform"
                                         src="/assets/img/portfolio/project4/1.jpg" alt="" data-dsn-position="50% 50%"/>
                                </div>
                                <div class="slide-content p-absolute">
                                    <div class="p-relative head-meta swiper-animate-head  d-flex justify-content-center mb-20">
                                        <div class="circle-before metas mb-10">

                                            <span>Car dealer's website</span>
                                        </div>
                                    </div>
                                    <h2 class="title has-box-mod p-relative">
                                        <a href="/projects/al-auto" data-dsn-split="chars" class="effect-ajax"
                                           data-dsn-ajax="slider">
                                            AL AUTO
                                        </a>
                                    </h2>

                                </div>
                            </div>
                            <div class="slide-item swiper-slide over-hidden">
                                <div class="image-bg cover-bg w-100 h-100 before-z-index" data-overlay="2">
                                    <img class="cover-bg-img dsn-swiper-parallax-transform"
                                         src="/assets/img/portfolio/project3/1.jpg" alt="" data-dsn-position="50% 50%"/>
                                </div>
                                <div class="slide-content p-absolute">
                                    <div class="p-relative head-meta swiper-animate-head  d-flex justify-content-center mb-20">
                                        <div class="circle-before metas mb-10">
                                            <span>2D Online Game</span>
                                        </div>
                                    </div>
                                    <h2 class="title has-box-mod p-relative">
                                        <a href="/projects/cryptohamster" data-dsn-split="chars" class="effect-ajax"
                                           data-dsn-ajax="slider">
                                            CRYPTO HAMSTERS
                                        </a>
                                    </h2>

                                </div>
                            </div>
                            <div class="slide-item swiper-slide over-hidden">
                                <div class="image-bg cover-bg w-100 h-100 before-z-index" data-overlay="4">
                                    <img class="cover-bg-img dsn-swiper-parallax-transform"
                                         src="/assets/img/portfolio/project1/1.jpg" alt="" data-dsn-position="50% 50%"/>
                                </div>
                                <div class="slide-content p-absolute">
                                    <div class="p-relative head-meta swiper-animate-head  d-flex justify-content-center mb-20">
                                        <div class="circle-before metas mb-10">
                                            <span>Online school</span>
                                        </div>
                                    </div>
                                    <h2 class="title has-box-mod p-relative">
                                        <a href="/projects/domznaniy" data-dsn-split="chars" class="effect-ajax"
                                           data-dsn-ajax="slider">
                                            DOMZNANIY
                                        </a>
                                    </h2>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dsn-container d-flex align-items-center justify-content-center text-center dsn-slider-content dsn-hero-parallax-title"></div>
            </div>


            <div class="dsn-swiper-paginate">
                <div class="swiper-pagination dsn-swiper-circle mr-30 ml-30 heading-color"></div>
            </div>

            <div class="control-nav w-100  d-flex dsn-container  align-items-center justify-content-between">
                <div class="prev-paginate dsn-paginate-arrow box-shadow"></div>


                <div class="dsn-pagination p-relative d-flex align-items-end">
                    <span class="slider-current-index h2">01</span>
                    <span class="sm-title-block">/ </span><span
                        class="total sm-title-block"> 5</span>
                </div>

                <div class="next-paginate dsn-paginate-arrow box-shadow"></div>


            </div>


        </div>
    </header>
    <!-- ========== End Slider Parallax ========== -->
</main>

<%- include('./components/sidebar.ejs') %>


</body>

</html>
