<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/assets/img/logo-32x32.png" sizes="32x32"/>
    <link rel="icon" href="/assets/img/logo-192x192.png" sizes="192x192"/>

    <title>SCREENING PARTNERS | Andrew Solomon - freelance full-stack developer</title>

    <link href="/assets/css/plugins.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <%- include('./googletag.ejs') %>
</head>

<body class="v-dark dsn-ajax">


    <%- include('./components/preloader.ejs') %>


<main id="main_root" class="main-root">

    <%- include('./components/menu.ejs') %>


    <!-- ========== Header  ========== -->
    <header id="dsn_header" class="dsn-header-animation  show-box-shadow dsn-container section-padding v-dark-head">
        <div class="entry-header p-relative over-hidden">
            <div id="hero_image"
                 class="p-absolute dsn-hero-parallax-img over-hidden before-z-index z-index-1 full-width"
                 data-dsn-ajax="img" data-overlay="4">
                <img src="/assets/img/portfolio/project6/1.jpg"
                     class="cover-bg-img transform-3d " alt=""
                     data-dsn-position="50% 50%"
                     sizes="(max-width: 2560px) 100vw, 2560px"/>
            </div>
            <div id="hero_content" class="d-flex p-relative h-100 dsn-hero-parallax-title align-items-end container">
                <div class="content p-relative ">
                    <div class="intro-project w-100">
                        <div class="intro-title ">
                            <div id="dsn_metas" class="p-relative d-flex justify-content-between ">
                                <div class="metas has-separate p-relative mb-10">
                                    <span>Due diligence application</span>
                                </div>
                            </div>
                            <div id="hero_title">
                                <h1 class="title" data-dsn-ajax="title">SCREENING PARTNERS</h1>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <a href="#page_wrapper" rel="nofollow" class="dsn-scroll-bottom"
           data-dsn-option='{"ease": "power4.inOut" , "duration" : 1.5}'>
            <div class="text">SCROLL</div>
        </a>
    </header>
    <!-- ========== End Header  ========== -->
    <div id="page_wrapper" class="wrapper">
        <!-- ========== Info Project  ========== -->
        <div class="info-project container text-center section-margin">
            <h2 class="title-h2 dsn-up">
                Screening partners
            </h2>
            <p class="max-w750 mt-30 dsn-up">
                <p class="mt-10">is a powerful web application developed using Vue.js and Nuxt.js. It serves as a comprehensive solution for assessing the collaborative risks associated with individuals and entities by leveraging publicly available information.</p>

                <p class="mt-10">With a user-friendly interface, "Screening Partners" enables my client to thoroughly evaluate potential risks by analyzing various data points. By aggregating and analyzing public information about the target individuals or entities, the application provides valuable insights and assists in making informed decisions.</p>

                <p class="mt-10">The application features an intuitive admin page, granting my client complete control over the data. Through the admin page, my client can effortlessly add, edit, or delete any relevant information related to the target individuals or entities. This ensures that the assessment process remains up-to-date and adaptable to changing circumstances.</p>
            </p>
            <ul class="intro-project-list mt-30 d-grid grid-md-3 grid-sm-2 ">

                <li class="dsn-up grid-item number-item">
                    <h5 class="title-list-project sm-title-block">≈Price</h5>
                    <p class="description-list-project dsn-auto"><b>3000$</b></p>
                </li>

                <li class="dsn-up grid-item number-item">
                    <h5 class="title-list-project sm-title-block">Stack</h5>
                    <p class="description-list-project dsn-auto"><b>VueJs/NuxtJs/NodeJs/PostgreSQL/nGinx/Tailwind</b></p>
                </li>

                <li class="dsn-up grid-item number-item">
                    <h5 class="title-list-project sm-title-block">Delivery time</h5>
                    <p class="description-list-project dsn-auto"><b>≈2.5 months</b></p>
                </li>
            </ul>
        </div>
        <!-- ========== End Info Project  ========== -->


        <!-- ========== Tow Image Popup  ========== -->
        <div class="dsn-container p-relative mb-section mt-sm-section">
            <div class="d-sm-none h-50 top-0 background-theme"></div>
            <div class="d-grid grid-md-2">
                <div class="p-relative img-box-parallax before-z-index has-popup">
                    <div class="effect-popup before-z-index h-100"
                         data-src="/assets/img/portfolio/project6/2.png"
                         data-caption="Caption #1" data-fancybox="_1" data-cursor="open" data-dsn-overlay="0">
                        <img src="/assets/img/portfolio/project6/2.png" class="cover-bg-img" alt="">
                    </div>
                    <div class="cap">
                        <span>Home page</span>
                    </div>
                </div>
                <div class="p-relative img-box-parallax before-z-index has-popup">
                    <div class="effect-popup before-z-index h-100"
                         data-src="/assets/img/portfolio/project6/3.png"
                         data-caption="Caption #2" data-fancybox="_1" data-cursor="open" data-dsn-overlay="0">
                        <img src="/assets/img/portfolio/project6/3.png" class="cover-bg-img" alt="">
                    </div>
                    <div class="cap">
                        <span>Sanctioned entities</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End Tow Image Popup  ========== -->

        <!-- ========== Parallax Image With Popup  ========== -->
        <div class="dsn-container over-hidden section-margin">
            <div class="img-box-parallax dsn-animate dsn-effect-down has-popup h-v-80" data-dsn-triggerhook="bottom"
                 data-dsn-grid="move-up">

                <div class="effect-popup before-z-index h-100"
                     data-src="/assets/img/portfolio/project6/4.png"
                     data-caption="Caption #3" data-fancybox="_1" data-cursor="open" data-dsn-overlay="0">
                    <img class="cover-bg-img has-direction" src="/assets/img/portfolio/project6/4.png" alt=""/>
                </div>
                <div class="cap"><span>Dashboard</span></div>
            </div>
        </div>
        <!-- ========== End Parallax Image With Popup  ========== -->

        <!-- ========== Paragraph  ========== -->
        <div class="container section-margin text-center">
            <p class="title-block dsn-text max-w570">
                I believe that ScreeningPartners is the most robust case in my portfolio, providing me with valuable opportunities for professional growth. I am immensely grateful to Arterm for entrusting me with this project and allowing me to contribute my skills and expertise.
            </p>
        </div>
        <!-- ========== End Paragraph  ========== -->


        <!-- ========== Next Project  ========== -->
        <div class="next-project section-padding p-relative footer-animate svg-animate">
            <svg class="dsn-separator dsn-separator-up  dsn-icon-main-color" width="100%" height="100%"
                 viewBox="0 0 100 10" preserveAspectRatio="none">
                <path class="path-anim separator__path" data-dsn-to="M 0 0 C 40 0 55 0 100 0 L 0 0 Z"
                      vector-effect="non-scaling-stroke" d="M 0 0 C 40 16 75 10 100 0 L 0 0 Z"></path>
            </svg>
            <div data-dsn-ajax="img" class="p-absolute dsn-hero-parallax-img transform-3d bg-container over-hidden"
                 data-overlay="4">
                <img class="cover-bg-img wp-post-image" src="/assets/img/portfolio/project4/1.jpg" alt=""
                     data-dsn-position="50% 50%"/>
            </div>
            <div class="dsn-container dsn-z-index-2 p-relative h-100 v-dark-head">
                <div class="p-relative h-100 d-flex flex-column justify-content-center">
                    <div class="intro-project w-100">
                        <div class="intro-title text-center">
                            <div class="metas has-separate p-relative mb-10">
                                <span>Web-agency site</span>
                            </div>

                            <div class="hero-title fill-text">
                                <a href="/projects/al-auto" class="d-inline-block effect-ajax" data-dsn-ajax="next">
                                    <h2 class="title">Al AUTO</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ========== End Next Project  ========== -->

    </div>


</main>


<%- include('./components/sidebar.ejs') %>

</body>

</html>
