 <!-- ========== Footer ========== -->
 <footer id="dsn_footer" class="dsn-footer p-relative">
    <svg class="dsn-separator dsn-separator-up  dsn-icon-main-color" width="100%" height="100%"
         viewBox="0 0 100 10" preserveAspectRatio="none">
        <path class="path-anim separator__path" data-dsn-to="M 0 0 C 40 0 55 0 100 0 L 0 0 Z"
              vector-effect="non-scaling-stroke" d="M 0 0 C 40 16 75 10 100 0 L 0 0 Z"></path>
    </svg>
    <div class="footer-content p-relative mt-section">

        <div class="text-center container">
            <h2 class="title-h2 ">
                LET'S BUILD SOMETHING
                <span class="d-block"><b><i>AMAZING </i></b>TOGETHER</span>
            </h2>
            <div class="dsn-icon-heading-color dsn-def-btn d-flex justify-content-center mt-30">
                <a class="dsn-btn dsn-border border-color-default  background-section  effect-ajax has-icon-left"
                   href="/contacts" data-dsn-text="CONTACTS">
                <span class="dsn-icon dsn-bg-before btn-icon-left heading-color z-index-1">
                    <i class="fas fa-angle-right" aria-hidden="true"></i>
                </span>
                    <span class="title-btn p-relative  z-index-1 ">START A PROJECT</span>
                </a>
            </div>

        </div>
        <div class="dsn-container pt-60">
            <div class="d-grid grid-lg-4 grid-md-2 ">
                <div class="grid-col-1">
                    <div class="dsn-logo main-logo">
                        <div class="main-logo">
                            <a href="/" data-dsn-text="Solomon"
                               class="custom-logo-link main-brand effect-ajax" rel="home">
                               <h5><b>SOLOMON</b></h5>
                            </a>
                        </div>
                    </div>
                    <ul class="dsn-socials box-social mt-20">
                        <li><a href="https://t.me/solomonGram" target="_blank" rel="nofollow"
                               class="init-color move-circle border-color-default" data-dsn="parallax"><span
                                class="dsn-icon"><i class="fab fa-telegram"></i></span><span>Telegram</span></a>
                        </li>
                        <li><a href="https://ru.stackoverflow.com/users/368616/the-solomon" target="_blank" rel="nofollow"
                               class="init-color move-circle border-color-default" data-dsn="parallax"><span
                                class="dsn-icon"><i class="fab fa-stack-overflow"></i></span><span>Stackoverflow</span></a>
                        </li>
                        <li><a href="https://github.com/HackHead" target="_blank" rel="nofollow"
                               class="init-color move-circle border-color-default" data-dsn="parallax"><span
                                class="dsn-icon"><i
                                class="fab fa-github"></i></span><span>Github</span></a></li>
                    </ul>
                </div>
                <div class="grid-col-2">
                    <h4 class="subtitle p-relative line-shape  line-shape-after "><span
                            class="background-revere ">NAVIGATION</span>
                    </h4>
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="menu">
                            <li class="menu-item">
                                <a href="/" class="effect-ajax">HOME</a>
                            </li>
                            <li class="menu-item">
                                <a href="/contacts" class="effect-ajax">CONTACTS</a>
                            </li>
                            <li class="menu-item">
                                <a href="/portfolio" class="effect-ajax">PORTFOLIO</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-col-3">
                    <h4 class="subtitle p-relative line-shape  line-shape-after "><span
                            class="background-revere ">CONTACT</span>
                    </h4>

                    <div class="col-contact">
                        <p ><strong>T</strong> : <a href="https://t.me/solomonGram">@solomonGram</a></p>
                        <p class="over-hidden mt-10">
                            <strong>E</strong> : <a class="link-hover" href="#"
                                                    data-hover-text="SolomonAndrew@tutanota.com">SolomonAndrew@tutanota.com</a>
                        </p>
                    </div>

                </div>
                <div class="grid-col-4">
                    <h4 class="subtitle p-relative line-shape  line-shape-after "><span
                            class="background-revere ">LOCATION</span>
                    </h4>
                    <div class="col-address">
                        <p>
                            Ukraine
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom mt-60 pt-30 border-top pb-30 text-center">
                <p class="over-hidden">
                    © 2023 Andrew Solomon
                </p>
            </div>
        </div>


    </div>
</footer>
<!-- ========== End Footer ========== -->