
<!-- ========== Cursor ========== -->
<div id="dsn_cursor" class="ball"></div>
<div id="dsn_cursor_inner" class="ball"></div>
<!-- ========== End Cursor ========== -->


<!-- ==========  Social ========== -->
<div class="social-side d-flex align-items-center flex-column justify-content-center">

    <ul class="socials d-flex flex-column-reverse">
        <li style="--dsn-index-animate : 0;">
            <a href="https://github.com/HackHead" target="_blank" rel="nofollow">
                <i class="fab fa-github" aria-hidden="true"></i> <span>Github</span>
            </a>
        </li>
        <li style="--dsn-index-animate : 1;">
            <a href="https://t.me/solomonGram" target="_blank" rel="nofollow">
                <i class="fab fa-telegram" aria-hidden="true"></i><span>Telegram</span>
            </a>
        </li>
        <li style="--dsn-index-animate : 2;">
            <a href="https://ru.stackoverflow.com/users/368616/the-solomon" target="_blank" rel="nofollow">
                <i class="fab fa-stack-overflow" aria-hidden="true"></i><span>Stackoverflow</span>
            </a>
        </li>
       
    </ul>
    <div class="icon">FOLLOW ME</div>
</div>
<!-- ========== End Social ========== -->

<!-- ========== Line BG ========== -->
<div id="line_head"><span class="container"></span></div>
<!-- ========== End Line BG ========== -->

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/plugins.min.js"></script>
<script src="/assets/js/plugins/dsn-grid.min.js"></script>
<script src="/assets/js/custom.js"></script>